.rate-container {
  display: flex;
  gap: 8px;
}

.rate-picto-container {
  width: 24px;
  height: 24px;
}

.rate-picto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .rate-picto-container {
    width: 20px;
    height: 20px;
  }
}
