.title {
  font-size: 32px;
  font-weight: 500;
  color: #ff6060;
  margin-top: 0;
  margin-bottom: 8px;
}

.location {
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .location {
    font-size: 16px;
  }
}
