.tag-container {
  display: flex;
  gap: 16px;
  margin: 24px 0;
  padding: 0;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
  margin-top: 32px;
}

.property-avatar-rates-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.property-collapse-container {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin: 16px 0 32px 0;
}

.property-collapse {
  flex-basis: 50%;
}
