.carousel {
  position: relative;
  height: 415px;
  width: 100%;
}

.slide {
  border-radius: 25px;
  height: 415px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  inset: 0;
  opacity: 1;
}

.slide[data-active] {
  opacity: 1;
}

.pictures {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  padding: 0;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 8px;
  transition: background-color 0.3s;
}

.carousel-button:hover,
.carousel-button:focus {
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-button > img {
  width: 100%;
  height: 100%;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
